
:root {
  --font-primary: 'DIN Round', sans-serif;
  --font-size-body: 16px;
  --font-size-h1: 32px;
  --font-size-h2: 24px;
  --line-height-body: 1.6;
  --color-text: #333;
  --color-background: #B9D1EA; /* Ensure this is correctly set */
  --color-primary: #F4AA29; /* M40Y90 */
  --color-secondary: #B9D1EA; /* C30M10 */
  --color-danger: #ca3c3c;
  --color-text-light: #fff;
  --color-text-dark: #333;
}

/* Font Face Definitions */
@font-face {
  font-family: 'DIN Round';
  src: url('fonts/din-round-bold.eot');
  src: url('fonts/din-round-bold.eot?#iefix') format('embedded-opentype'),
       url('fonts/din-round-bold.woff') format('woff'),
       url('fonts/din-round-bold.ttf') format('truetype'),
       url('fonts/din-round-bold.svg#DIN-Round-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'DIN Round';
  src: url('fonts/din-round-light.eot');
  src: url('fonts/din-round-light.eot?#iefix') format('embedded-opentype'),
       url('fonts/din-round-light.woff') format('woff'),
       url('fonts/din-round-light.ttf') format('truetype'),
       url('fonts/din-round-light.svg#DIN-Round-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

/* Global Resets */
*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus {
  outline: 3px dashed #228bec;
}

body {
  font-family: var(--font-primary);
  background-color: var(--color-background);
  color: var(--color-text);
}

h1, h2 {
  margin-bottom: 0;
  font-family: var(--font-primary);
  font-weight: bold;
}

/* Button Styles */
button {
  cursor: pointer;
  font-size: 16px;
  margin: 5px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--color-primary);
  color: var(--color-text-light);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

/* Form Elements */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0 20px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input:focus {
  border-color: var(--color-primary);
  outline: none;
}

/* Container Styles */
.auth-container,
.todoapp,
.list-manager {
  background-color: #FFF6C7;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

h1 {
  color: var(--color-primary);
  text-align: center;
}

/* List Manager */
.list-manager h2 {
  color: var(--color-text-dark);
}

.list-manager input {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.list-manager button {
  width: 100%;
  padding: 10px;
  background-color: var(--color-secondary);
  color: var(--color-text-light);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
ul {
  list-style-type: none;
  padding: 0;
}
.list-manager ul {
  list-style-type: none;
  padding: 0;
}

.list-manager li {
  margin: 5px 0;
}

.list-manager li button {
  width: 100%;
  padding: 10px;
  background-color: var(--color-secondary);
  color: var(--color-text-light);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Todo Styles */
.todo {
  background-color: white;
  border: 1px solid #ddd;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}

.todo.completed {
  background-color: #dbffc7;
  text-decoration: line-through !important;
  color: #aaa;
}

.todo .btn-group button {
  background-color: var(--color-primary);
  color: var(--color-text-light);
}

.todo .btn-group button:hover {
  background-color: var(--color-secondary);
  color: var(--color-text-dark);
}

/* Filters */
.filters .btn-group button {
  background-color: var(--color-primary);
  color: var(--color-text-light);
}

.filters .btn-group button.isPressed {
  background-color: var(--color-secondary);
  color: var(--color-text-light);
}

/* Auth Forms */
.auth-form {
  max-width: 40rem;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2.5rem 5rem 0 rgba(0, 0, 0, 0.1);
}

.auth-form h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.auth-form label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.auth-form button {
  width: 100%;
  padding: 1rem;
  background-color: var(--color-primary);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.auth-form button:hover {
  background-color: #333;
}
